@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    background: #eef0f2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}